{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">
    {{ course.title }} studentlari
</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">

    {% for student in students %}

    <div class="col">

        <div class="card h-100">

            {% if student.image %}

            <img
                src="{{ student.image.url }}"
                class="card-img-top"
                height="250"
                style="object-fit: cover;"
            >

            {% endif %}

            <div class="card-body">

                <h4>{{ student.name }}</h4>

                <p>{{ student.course }}</p>

                <a
                    href="{% url 'detail' student.id %}"
                    class="btn btn-primary"
                >
                    Batafsil
                </a>

            </div>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}